.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
/* Display flex & to center items used justify-content:center */
.d-flex{
  display: flex;
  justify-content: center;
}
.button {
  border: none;
  color: beige;
  background-color: #008CBA;
  padding: 16px 32px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
