* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100vh;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
.header {
  background-color: #008cba;
  color: beige;
  padding: 1.5rem;
  text-align: center;
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100vw;
}
.header .h-text {
  font-size: 2.5rem;
}
/* Display flex & to center items used justify-content:center */
.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  text-align: center;
}

.d-flex * {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

.d-flex h1,
.d-flex p {
  max-width: 420px;
  min-width: 320px;
}

.button {
  border: none;
  color: beige;
  background-color: #008cba;
  padding: 16px 32px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 170px;
}

footer {
  background-color: #008cba;
  color: beige;
  padding: 1.5rem;
  text-align: center;
  z-index: 9;
  bottom: 0;
  position: fixed;
  width: 100%;
}
